img{
    max-height:70px;
}

i{
    margin-right: 45px
}

nav{
    font-size:larger;
}

.cart-no{
    position:absolute;
    min-height:25px;
    min-width:25px;
    border-radius:50%;
    font-size:1em;
    background-color:blue;
    color:white;
    text-align:center;
    top:-12px;
    right:32px;
}

notActive{
    text-decoration:none;
    color:#343a40;
}
Active{
    color:orange;
}

a{
    padding-right:15px;
}